@charset "UTF-8";
/* COMMON */
*{
    margin: 0;
    padding: 0;
}
body,html{
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
span{
    display: block;
}
img{
    vertical-align: bottom;
}
address{
    font-style: normal;
}
#wrap{
    width: 100%;
    min-width: 100%;
}
/* HEADER */
header{
    padding: 1.5rem 0;
    border: 1px;
}
header .boxalign{
    width: 1100px;
    margin: auto;
    border: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{}
header .logo h1{}
header .logo h1 a{}
header .logo h1 a img{}
header nav{
    display: flex;
    gap: 3rem;
    border: 1px;
}
header nav div{
    border-bottom: 4px solid transparent;
}
header nav div a{
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0 1rem;
    border: 1px;
}
header nav div:hover{
    border-bottom: 4px solid;
    color: peru;
}
/* MAIN */
main{
    position: relative;
    overflow: hidden;
}
main .mbg{
    background: url(./images/kto-main.bg.png) center;
    height: 604px;
    transition: .7s;
}
main:hover .mbg{
    transform: scale(1.2);
}
main .mtext{
    /* width: 600px; */
    /* height: 604px; */
    background: #000000a8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    /* bottom: 10%; */
    padding: 3rem;
    transition: .7s;
    text-align: center;
}
/* main:hover .mtext{
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(1.1);
} */
main .mtext h2{
    font-size: 2.2rem;
    color: #fff;
}
main .mtext span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 3rem 0 0 0;
    border-radius: 50%;
    transition: .7s;
}
main .mtext:hover span{
    background: #fff;
    width: 50px;
    border-radius: 0;
}
main .mtext p{
    font-size: 1.3rem;
    margin-bottom: 4rem ;
    margin-top: 2rem;
    line-height: 1.6;
    color: #fff;
}
main .mtext a{
    bottom: 1px solid;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: #fff;
    transition: .7s;
    border: 1px solid #fff;
    display: inline-block;
}
main .mtext a:hover{
    background: #fff;
    color: #000;
    opacity: .8;
}

/* SECTION */
section{
    padding: 5rem 0;
}
section ul{
    display: flex;
    gap: 25px;
    justify-content: center;
}
section ul li{
    width: 304px;
}
section ul li:first-child{
    background:#DFAC7C;
    width: 244px;
    padding: 30px;
}
section ul li h3{
    font-size: 1.9rem;
}
section ul li > span{
    height: 255px;
    width: 1px;
    background: #000;
    margin: 2rem 1rem;
}
section ul li p{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: -1.5px;

}
section ul li a{}
section ul li a span{}
section ul li a span .imgbox{}
section ul li a span .imgbox img{
    width: 100%;
}
section ul li a span.textbox{
    background: #eee;
    padding: 30px;
    transition: .5s;
    border-bottom: 5px solid #000;
}
section li:hover .textbox{
    border-bottom-color: #DFAC7C;
}
section ul li a span.textbox strong{
    font-size: 1.4rem;
    letter-spacing: -1px;
    display: block;
}
section ul li a span.textbox .cover{
    display: flex;
    margin-top: 5.3rem;
}
section ul li a span.textbox .cover span.cbg{
    background: url(./images/btn_link.png);
    width: 20px;
    height: 20px;
    background-size: 40px;
    transition: 0.5s;
}
section li:hover.cbg{
    background-position: right;
}
section ul li a span.textbox .cover i{
    font-style: normal;
    margin-left: 1rem;
}
/* FOOTER */
footer{
    background: peru;
    padding: 4rem 0;
}
footer ul{
    display: flex;
    width: 460px;
    margin: auto;
    gap: 2rem;
    justify-content: center;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}
footer ul li a{
    font-size: 1.1rem;
}
footer address{
    text-align: center;
    /* border-top: 1px solid #333; */
    margin-top: 2rem;
    padding-top: 2rem;
}